{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {% if images %}
            <h2>Found {{images|length}} from searched category {{message}}</h2>
        {% else %}
            <h2> Found 0 images in the searched category {{message}}</h2>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-3">

            {% if images %}
                {% for image in images %}
                <a type="button" data-toggle="modal" data-target="#myModal">
                    <img style="width: 300px;height: 300px;" src="{{image.image.url}}" class="img-responsive" alt="Image">
                </a>

                <!-- Modal -->
                <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                
                    <!-- Modal content-->
                    <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{image.name}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{image.description}}</p>
                    </div>
                    <div class="modal-footer">
                    </div>
                    </div>
                
                </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}