{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {% if images %}
            <h2>Found {{images|length}} from searched category {{message}}</h2>
        {% else %}
            <h2> Found 0 images in the searched category {{message}}</h2>
        {% endif %}
    </div>
    <div class="row">

            {% if images %}
                {% for image in images %}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <a type="button" data-toggle="modal" data-target="#myModal{{image.id}}">
                        <img style="width: 300px;height: 300px;" src="{{image.image.url}}" class="img-responsive" alt="Image">
                    </a>

                    <!-- Modal -->
                    <div id="myModal{{image.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog modal-lg" role="document">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">{{image.name}}</h4>
                                </div>
                                <div class="modal-body">
                                    <img style="width: 600px;height: 450px;" src="{{image.image.url}}" class="img-responsive" alt="Image">
                                    <h5>{{image.description}}</h5>
                                    <ul>
                                        <li>Category: {{image.category}}</li>
                                        <li>Location: {{image.location}}</li>
                                        <li>Date: {{image.date_taken}}</li>
                                    </ul>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"> Copy Link</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        
    </div>
</div>

{% endblock %}